body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


form input {
    display: block;
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border: solid 2px blue;
    padding-left: 10px;
    color: blue;
}
form input.error{
    border: solid 2px red;
}
form input.success{
    border: solid 2px green;
}
.massage{
    display: none;
}
.massage.error{
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
    color: white;
    background-color:red;
    border-radius:5px;
    line-height: 40px;
    width: 200px;
    text-align: center;
}
.inner {
    width: 50%;

}

h3 {
    margin-top: 10px;
}

ol li {
    color: blue;
    margin-top: 20px;
}

button {
    display: block;
    width: 200px;
    line-height: 30px;
    margin-top: 50px;
    cursor: pointer;
    background-color: blueviolet;
    border: solid 2px blueviolet;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: yellow;
    color:blueviolet;
    transition: 0.3s;
}
